<%- include('./includes/head.ejs'); %>
    <title><%=title %></title>
</head>

<body>
    <%- include('./includes/navbar.ejs'); %>
    <% for(let u of users) { %>
    <div class="card text-white bg-secondary m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%=u.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=u.email %></h6>
            <p class="card-text"><%=u._id %></p>
            <a href="/edit/<%=u.id %>" class="card-link btn btn-warning mb-3 block">Update</a>
            <form action="/delete/<%=u.id %>?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <button class="card-link btn btn-danger block">Delete</button>
            </form>
            
        </div>
    </div>
    <% } %>
<%- include('./includes/end.ejs'); %>